{% extends "encyclopedia/layout.html" %} 
{% block title %} Create New page {%endblock %} 
{% block body %}

<form method="post" action="{% url 'create' %}">
 <h1>In this page you can create a html page by typing markdown</h1>
  {% csrf_token %}
  <h3>The title can't already exist</h3>
  <textarea name="title" placeholder="Insert your title here"></textarea>
  <h3>The markdown content will be apropriatly translate into html and displayed</h3>
  <textarea name="markdown" placeholder="insert your Markdown content Here"></textarea>
  <input type="submit" placeholder="Save" />
</form>
</div>

{% endblock %}
